* {
margin: 0; padding: 0;
}

body {
	background-color:#FFC0CB;
}

.EXEPERIMENT_ON_BASIC_CONTROL_FLOW{
	  width: 97.85%;
  	height: 10%;
  	float: left;
  	border: 1px solid #969696;
  	margin: 1%;
  	margin-top: 1%;
  	margin-right: 1%;
  	background-color: #CC6600;
  }

.EXEPERIMENT_ON_BASIC_CONTROL_FLOW_text{
  font-size: 22px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  color: black;  
  float: left;
  width: 50%; 
}

.EXEPERIMENT_ON_BASIC_CONTROL_FLOW_list{
    float: right;
    border: 1px solid #969696;
    padding: 2px 2px 2px 2px;
    background: #DCDCDC;
    font-size: 18px;
    width:31%;
    width: 31%;
    margin: 1%;
    margin-top: 1%;
    margin-right: 3%;
  }

.div_bottom{
	width:98%;
  	height:565px;
  	float:left;
  	margin-top: 0.4%;
  	margin-left: 1%;
  	font-size: 22px;
  	text-align: left;
  	color: black;
  }

.select_the_day{
  	width:30%;
  	height:560px;
  	float:left;
  	border: 1px solid #969696;
  	font-size: 22px;
  	text-align: center;
  	color: black;
  }

.code{
  	width:32%;
  	height:560px;
  	float:left;
  	margin-left: 1%; 
  	border: 1px solid #969696;
  	font-size: 22px;
  	text-align: center;
  	color: black;
  }

.code_text_div{
  font-size: 12px;
  text-align: left;
  padding-top: 10px;
  background: #F8F8FF;
  height: 520px;
}

.visual_output_of_code_running{
	  width:35.5%;
  	height:560px;
  	float:left;
  	margin-left: 1%; 
  	border: 1px solid #969696;
  	font-size: 22px;
  	text-align: center;
  	color: black;
  }

.heading_background_color{
	background-color: #C8B560;
  border: 1px solid #969696;
  }

.day{
	font-size: 14px;
	padding-top: 10px;
}

.variables{
	font-size: 16px;
	padding-top: 16px;
}

.margin{
	padding-top: 25px;
}

.switch_case{
	font-size: 14px;
	padding-top: 10px;
}


.text_field{
		width: 50px;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
}

blank{
  margin-left: 20px;
  font-size: 14px;
  padding-top: 10px;
}

.Switch_Case_drop_down_list{
    width: 100%;
    height: 18px;
}

.button_alignment{
  margin-top: 2%;
  border: 1px solid #969696;
  margin-left: 42.5%;
  margin-right: 42.5%;
  
}

/* CODE TEXT */

.main{
  margin-left: 5%;
  font-weight: bold;
}
.char_str_switch{
  margin-left: 12.5%;
  margin-top: 5px;
}

.case_default_text{
  margin-left: 21.25%;
  margin-top: 4px;
}

.break_text{
  margin-left: 34.2%;
  margin-top: 2px;
}

/*VISUAL OUTPUT OF CODE RUNNING*/
.day_logo_div{
  border-right: 1px solid #969696;
  height: 95%;
  width:25%;
  float: left;
}

.pictures_logo_div{
  border-left: 1px solid #969696;
  height: 90.2%;
  width:63%;
  float: right;
  padding: 3%;
}

.day_logo_images{
  padding-top: 10px;
  opacity: 0.40;
}

.pictures_logo_images{
  width: 80%;
  height: 32%;
  opacity: 0.40;
}

.output_alignment{
float: left;
margin-left: 10%;
margin-bottom: 20%;
}
.valueOfDay{
  width: 10;
  float: left;
  margin-left: 39%;
}

.valueOfDayValue{
  width: 10;
  float: left;
  margin-left: 1%;
}

